<!--
  Generated template for the LoansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>loans</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-list>
    <ion-item-sliding *ngFor="let loan of loansList">
      <ion-item>
        <ion-card *ngIf="loan._isDebt === false" color="danger">
          <ion-card-content>
            <ion-card-title>
              {{loan._date}}
            </ion-card-title>
            <ion-item>
              <ion-icon name='cash' item-start style="color: #d03e84"></ion-icon>
              {{loan._nameOfFriend}}
              <ion-badge item-end>{{loan._amount}}€</ion-badge>
            </ion-item>
            <p>{{loan._note}}</p>
            <p>Debt: {{loan._isDebt}}</p>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="loan._isDebt === true" color="secondary">
          <ion-card-content>
            <ion-card-title>
              {{loan._date}}
            </ion-card-title>
            <ion-item>
              <ion-icon name='cash' item-start style="color: #d03e84"></ion-icon>
              {{loan._nameOfFriend}}
              <ion-badge item-end>{{loan._amount}}€</ion-badge>
            </ion-item>
            <p>{{loan._note}}</p>
            <p>Debt: {{loan._isDebt}}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="default" (click)="addLoan()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
