<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card id="budgetCard" color="secondary">
    <ion-card-header>
      Budget
    </ion-card-header>
    <ion-card-content *ngIf="getMonthlyBudget > 0">money left: {{getMonthlyBudget}}€</ion-card-content>
    <ion-card-content *ngIf="(getMonthlyBudget === 0)">money left: not defined yet!</ion-card-content>
  </ion-card>

  <ion-card id="expensesCard" color="danger">
    <ion-card-header>
      Expenses
    </ion-card-header>
    <ion-card-content>
      money spent so far: {{getMonthlyExpenses}}€
    </ion-card-content>
  </ion-card>

</ion-content>
